.alert-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(2px);
    z-index: 999;
    transform: scale(1);
    transition: transform 1s ease;
    
}
.alert__disable{
    transform: scale(0);
    transition: all 0.1ms ease;
}
.alert-containerinfo{
    background-color: white;
    width: 100%;
    height: 180px;
    max-width: 22em;
    display: flex;
    flex-direction: column;
    padding: 2.5em 1.5em 2.5em ;
    border-radius: 0.8em;
    gap: 1em;
    position: relative;
    box-shadow: black 0px 0px 80px;
}
.btn_app_alert{
    width: 60px;
    font-size: 20px;
    background-color: rgb(0, 170, 37);
    color: black;
    border: none;
    position: absolute;
    z-index: 998;
    border-radius: 50%;
    right: 15px;
    bottom: 10px;
    aspect-ratio: 1;
    box-shadow: black 0px 0px 20px;
    font-weight: bold;
    transition: all 0.2s ease;
    
}
.btn_app_alert:hover{
    box-shadow: rgb(255, 255, 255) 0px 0px 20px;
    color: white;
    font-weight: bold;
}