.img__user{
    width: 350px;
    height: 300px;
}
.user{
    
    max-width: 300px;
    border-radius: 4px;
    border: 1px solid #a0a0a0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    color: #fff;
    color: black;
    margin: 2rem;
    
}
.user__header{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.info_container{
    position: relative;
    padding-bottom: 4em;
}
.user__name{
    text-align:left;
}
.user__info{
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
}
.litle__item{
    color: #a0a0a0;

}
.btns_form{
    display: block;
    position:absolute;
    bottom: 1em;
    right: 1em;
}
.btn_delete{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 0.8em;
    background-color: red;
    color: white;
    border: none;
}
.btn_edit{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    color: gray;
    border: 1px solid gray;
}