.img__user{
    width: 100px ;
    scale: 1.2;
    transition: all 0.5s  ease;
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    background-color: white;
    
    color: #fff;
    color: black;
    margin: 2rem;
    transition: all 0.3s  ease;
    position: relative;
}
.user:hover{
    .img__user{
        opacity: 1;
        scale: 1;
    }
    .info_container{
        background-color: rgba(255, 255, 255, 0.8);
    }
    scale: 1.05;
    background-color: #a0a0a042;
}
hr{
    width: 90%;
    opacity: 0.5;
}
.user__header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -50px;
    z-index: 996;
    border: 3px solid gray;
}
.info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4em;
    bottom: 0;
    z-index: 995;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transition: all 0.3s  ease;
    position: relative;
    border-radius: inherit;
    border: 3px solid gray;
}   
.info_container:hover{
    background-color: transparent;
    
}
.user__name{
    text-align:center;
}
.user__info{
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
}
.litle__item{
    color: #a0a0a0;

}
.btns_form{
    display: block;
    position:absolute;
    bottom: 1em;
    right: 1em;
}
.btn_delete{
    width: 35px;
    aspect-ratio: 1;
    border-radius: 8px;
    margin-right: 0.8em;
    background-color: red;
    color: white;
    border: none;
}
.btn_edit{
    width: 35px;
    aspect-ratio: 1;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(197, 199, 197);
    border: none;
}