.img__user{
    height: 350px ;
    transition: all 0.5s  ease;
    top: -50%;
    scale: 1.2;
}
.user{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    color: #fff;
    color: black;
    margin: 2rem;
    transition: all 0.3s  ease;
}
.user:hover{
    .img__user{
        opacity: 0.8;
        scale: 1.2;
    }
    .info_container{
        background-color: rgba(255, 255, 255, 0.2);
    }
    scale: 1.05;
    background-color: #a0a0a042;
}
.user__header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px ;
    overflow: hidden;
    
}
.info_container{
    padding-bottom: 4em;
    bottom: 0;
    z-index: 998;
    background-color: white;
    height: 150px;
    transition: all 0.3s  ease;
    position: relative;
}   
.info_container:hover{
    background-color: #a0a0a0;
    
}
.user__name{
    text-align:center;
}
.user__info{
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
}
.litle__item{
    color: #a0a0a0;

}
.btns_form{
    display: block;
    position:absolute;
    bottom: 1em;
    right: 1em;
}
.btn_delete{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 0.8em;
    background-color: red;
    color: white;
    border: none;
}
.btn_edit{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    color: gray;
    border: 1px solid gray;
}